<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celuloide Films</title>
    <link rel="stylesheet" href="/stylesheets/create.css">
</head>

<body>
    <%-include('partials/header')%>
  
    <main> 
      <div class="main"> 
         <div class="form_center"> 
           <div class="form"> </div>
           <h2 class="title">Agrega tu película</h2>
             <form action="/movies/create" method="POST"><br>
                <div>
                 <label for="title">Título</label><br>
                 <input class="input-size" type="text" name="title"><br>
               </div>
               <div>
                 <label for="rating">Rating</label><br>
                 <input class="input-size" type="text" name="rating"><br>
               </div>
               <div> 
                 <label for="awards">Premios</label><br>
                 <input class="input-size" type="number" name="awards"><br>
               </div>
               <div>
                 <label for="release_date">Fecha de Estreno</label><br>
                 <input class="input-size" type="date" name="release_date"><br>
               </div>
               <div>
                 <label for="length">Duración</label><br>
                 <input class="input-size" type="text" name="length"><br>
               </div>
               <div>
                 <label for="genre_id">Genero</label><br>
                 <select class="input-size" name="genre_id">
                   <%generos.forEach(genero => { %>
                   <option value="<%=genero.id%>"><%=genero.name %></option>
                    <% })%> 
                 </select><br>
               </div>
               <div>
                 <label for="actores">Actores</label><br>
                  <select class="input-size" name="actores" multiple>
                      <%actores.forEach(actor => { %>
                       <option value="<%=actor.id%>"><%=actor.first_name %><%=actor.last_name %>
                       </option>
                       <% })%> 
                  </select><br>
                </div> 
        <button class="button-detail" type="submit"> Crear </button>
      </form> 
    </main>
</body>
</html>