<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <!--   estoy incluyendo un header-->
    <%-include('partials/header')%>
    <!--   estoy incluyendo un header-->
    
    <!-- product detail -->

   <div class="main"> 
       
        <h2 ><%=movies.title%></h2>
        <ul>
            <li>El rating es <%=movies.rating%> </li>
            <li>Ganó <%=movies.awards%> premios</li>
            <li>Su duración es de<%=movies.length%></li>
            <li>Fue lanzada <%=movies.release_date%></li>

        </ul>
              
        <button class="button-detail" type="button"> Borrar </button>
        <button class="button-detail"type="button"> Modificar </button>

    </div>
     <!--   estoy incluyendo un header-->
     <%-include('partials/footer')%>
     <!--   estoy incluyendo un header-->
</body>
</html>