<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <!--   estoy incluyendo un header-->
    <%-include('partials/header')%>
    <!--   estoy incluyendo un header-->
    
    <!-- product detail -->

   <div class="main"> 
       
        <h2 ><%=movies.title%></h2>
            <ul>
                 <li>El rating es <%=movies.rating%> </li>
                 <li>Ganó <%=movies.awards%> premios</li>
                 <li>Su duración es de<%=movies.length%></li>
                 <li>Fue lanzada <%=movies.release_date%></li>

            </ul>
              
          
        <a class="button-detail"  href="/movies/update/<%=movies.id%>">Modificar</a>
        
            
       
        
        <form action="/movies/delete/<%=movies.id%>" method="POST">  
        <button class="button-detail" type="submit"> Borrar </button>
        </form>

    </div>

      <!--   estoy incluyendo un footer-->
      <div class="footer">  
        <%-include('partials/footer')%>
        </div>
    <!--   estoy incluyendo un footer--> 
</body>
</html>